.about{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.about__img{
    border-radius: 5%;
    width: 20rem;
}

.about__words{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about__title{
    font-size: 1.96rem;
    text-transform: uppercase;
    letter-spacing: -0.05em;
}

.about__description{
    font-size: var(--size-xl);
}

.tab__titles{
    display: flex;
}

.tab__links{
    margin-right: 3rem;
    font-weight: 600;
    letter-spacing: -0.05em;
    cursor: pointer;
    position: relative;
}

.tab__links.active-link{
    color: var(--clr-red);
    transition: 0.3s;
}

.tab__contents p{
    margin: 10px 0px;
}

.tab__contents{
    display: none;
}

.tab__contents.active-tab{
    display: block;
}
/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
@media (min-width: 768px) {
    .about{
        flex-direction: row;
        align-items: flex-start;
    }

    .about__img{
        width: 100rem;
    }

    .tab__titles{
        font-size: var(--size-lg);
    }
}

/* lg */
@media (min-width: 1024px) {
    .about__title{
        font-size: var(--size-4xl);
    }

    .about__description{
        font-size: var(--size-2xl);
    }

    .tab__titles{
        font-size: var(--size-xl);
    }

    .tab__contents{
        font-size: var(--size-lg);
    }
}

/* xl */
@media (min-width: 1280px) {
    .about__title{
        font-size: var(--size-5xl);
    }
}

/* 2xl */
/* @media (min-width: 1536px) {} */