.contact{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact__title{
    font-size: 1.96rem;
    text-transform: uppercase;
    letter-spacing: -0.05em;
}

.contact__description{
    font-size: var(--size-xl);
}

.contact__socials{
    margin-top: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.contact__links{
    transition: transform 0.3s;
}

.contact__links img{
    width: var(--size-5xl);
}
.contact__links:hover {
    transform: translateY(-0.4rem);
}

/* xs */
/* @media (min-width: 475px) {} */

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
@media (min-width: 1024px) {
    .contact__title{
        font-size: var(--size-4xl);
    }

    .contact__description{
        font-size: var(--size-2xl);
    }
}

/* xl */
@media (min-width: 1280px) {
    .contact__title{
        font-size: var(--size-5xl);
    }
}

/* 2xl */
/* @media (min-width: 1536px) {} */